.app-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

nav.top-nav {
    height: 3em;
    line-height: 3em;
    display: inline-flex;
    flex-direction: row;
    background-color: var(--primary-colour);
}

.top-nav .top-nav-item {
    margin-left: 1em;
}

.top-nav .top-nav-item a {
    color: white;
}
.top-nav .top-nav-item a.active {
    color: var(--secondary-colour);
}
.top-nav .top-nav-item a:hover {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}

.top-nav .logo-svg {
    height: 100%;
    padding: 5px;
}