.hero-wrapper {
    background: linear-gradient(to bottom, var(--primary-colour) 0, var(--primary-colour-dark) 100%);
    color: white;
    box-sizing: border-box;
    padding-bottom: 15vh;
}

.hero-wrapper svg {
    fill: white;
    stroke: white;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}

.hero-wrapper .logo-svg {
    margin: 15vh 20% 3em 20%;
}

.hero-wrapper h1 {
    font-family: monospace;
    font-size: 5em;
    text-align: center;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}
.hero-wrapper h1 .warning {
    color: rgb(230, 0, 0);
}

.features {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    padding-top: 5em;
}
.features .feature {
    margin: 0 2em;
    flex: 1 1 0;
    text-align: center;
}
.features .feature .feature-icon-sizer {
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    margin: 0 auto;
}
.features .feature h3 {
    color: var(--primary-colour-dark);
    font-size: 1.5em;
}
@media (max-width: 768px) {
    .features {
        display: block;
        padding-top: 2em;
    }
    .features .feature {
        margin-bottom: 2em;
    }
}

.install-instructions-wrapper {
    text-align: center;
    margin: 0 2em;
}
.install-instructions {
    border: 2px solid white;
    border-radius: 5px;
    padding: 2em;
    display: inline-block;
    margin-top: 3em;
}
.install-instructions code {
    font-size: 1.2em;
}
.install-instructions .prompt {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}